<div>
    <p>Your posts:</p>
    {{>post-box this}}
</div>

<footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
</footer>

<script src="/js/logout.js"></script>